 <%= render 'top' %>

<h3>
	Future plans for this Section  </h3>
   <ul> 
   	<h5>
   	<li>Logged in users profile pic will be at Right top</li>
     <li>All latest activity of logged in user will be visible in this Window.</li>
   	   <li>Very Very Essential Section, WAppointment Scheduling Calendar will be placed.</li>

       </h5>
   </ul>
