 
<!-- <h2>
Hi Guest/User, Just try to break the login/logout functionality 
Try to kill the App accessing unauthorised URL.  
<br>
If you are new to this, just Sign up into my Application & start Breaking it's functionality .</br>
<strong>Good Luck !!! </strong>
</h2> -->

<h3> Try to check your Feedbacks !! click  <%= link_to 'here', feedbacks_path %>  </h3>

<br>
<h3> Hi Patient, Click <%= link_to 'here',  new_feedback_path %> to  submit your Feedback </h3>
<br><br>

New to Application ? , <%= link_to " Sign up!!! Now", new_user_path %>