<div class = "container">
                <!-- header content -->
                <h1> <%= link_to 'Hospital Application', root_path %> </h1>

                <!-- Navigation -->
                <div class = "navbar">
                  <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li> <%= link_to 'Doctor', root_path %> </li>
                  <li class = 'active'><%= link_to 'Patient',patient_path %></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
   </div>